<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>
    <h1>WebSocket Example</h1>
    <div id="data-container"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io({ reconnection: true });
            socket.on('update_data', function(data) {
                updateData(data.value);
            });

            setInterval(function() {
                socket.emit('update_request');
            }, 1000);
        });

        function updateData(value) {
            const dataContainer = document.getElementById('data-container');
            if (dataContainer) {
                dataContainer.innerHTML = value;
            }
        }
    </script>
</body>
</html>
